.App {
  text-align: center;
  margin: 0 auto;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.12);
}

.exp-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.history-item-expense {
  border-right: 2px solid red;
  margin-bottom: 5px;
  background-color: rgb(209, 167, 167);
}

.history-item-income {
  border-right: 2px solid rgb(40, 156, 5);
  margin-bottom: 5px;
  background-color: rgb(153, 194, 162);
}
